<div class="col-md-3">
    <p class="lead">Shop Name</p>
    <div class="list-group">
        <a href="#" class="list-group-item active">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div>
</div>

<div class="col-md-9">
    <div class="thumbnail">    
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
            <h4 class="pull-right">$<%= @product.price %></h4>
            <h4><%= @product.name %></h4>
            <p><%= @product.description %></p>
        </div>
    
        <div class="ratings">
            <p class="pull-right"><%= @reviews.count %> reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                 <%#= @product.get_avg_rating %> stars 
              <%# binding.pry %>
            </p>
            <% if current_user && current_user.admin? %>
                <%= link_to 'Edit Product', edit_product_path(@product), class: "btn btn-warning" %>
                <%= link_to 'Delete Product', product_path(@product), data: { confirm: 'Are you certain you want to delete this?', method: :delete }, class: "btn btn-danger" %>
                <br><br>
            <% end %>
        </div>

    </div>

    <div class="well">

        <% if current_user %>
          <%= render :partial => 'reviews/new' %>
        <% end %>
        <% @reviews.each do |review| %>
          <hr>

          <div class="row">
              <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">15 days ago</span>
                <p><%= review.content %></p>
                <%= link_to 'Delete Review', product_review_path(review), data: { confirm: 'Are you certain you want to delete this?', method: :delete }, class: "btn btn-danger" %>
              </div>
          </div>
        <% end %>

    </div>

</div>